.option {
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.disabled {
  opacity: 0.15;
}

.image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  will-change: transform;
  transition: all 0.2s ease-in-out;
}

.option.option:hover {
  opacity: 1;
  box-shadow: 0 0 3px 3px rgba(173, 168, 168, 0.1);
}

.option:hover .image {
  transform: scale(1.2);
  transform-origin: center;
}

.textContainer {
  flex-grow: 1;
  background: #fff;
  padding: 16px;
  position: relative;
  z-index: 1;
  font-size: 1.3rem;
  border: 1px solid rgba(173, 168, 168, 0.4);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.text {
  margin: 0;
}

.active .textContainer {
  background-color: #0f65ef;

  color: #fff;
  transition: all 0.2s ease-in-out;
}
