.withImage {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .withImage {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .withImage {
    grid-template-columns: 245px;
  }
}

.text {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}
